.header {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
}
.nav {
  position: fixed;
  inset: 0;
  background-color: hsla(217, 66%, 52%, 0.9);
  display: grid;
  place-content: center;
  height: 100vh;
  z-index: 1000;
}
.nav[aria-expanded="false"] {
  animation: nav-closed 1s forwards;
}
@keyframes nav-closed {
  from {
    clip-path: circle(141.4% at 0 0);
    opacity: 1;
    pointer-events: visible;
  }
  to {
    clip-path: circle(0% at 0 0);
    opacity: 0;
    pointer-events: none;
  }
}
.nav[aria-expanded="true"] {
  animation: nav-opened 1s forwards;
}
@keyframes nav-opened {
  from {
    clip-path: circle(0% at 0 0);
    opacity: 0;
    pointer-events: none;
  }
  to {
    clip-path: circle(141.4% at 0 0);
    opacity: 1;
    pointer-events: visible;
  }
}
.nav__list {
  display: grid;
  width: 100%;
  left: 0;
  right: 0;
  gap: 5vh;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.005);
}
.nav__link {
  position: relative;
  color: var(--white);
  font-weight: 400;
  font-size: clamp(16px, 7vw, 24px);
  transition: 0.25s;
}
.nav__link:hover {
  filter: drop-shadow(0 0 10px white);
}
.nav__link::after {
  content: "";
  position: absolute;
  background-color: var(--white);
  height: 1px;
  width: 60%;
  display: grid;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.nav__link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.header__logo {
  width: 35vw;
  z-index: 1000;
}
.header__logo-desktop {
  width: 150px;
}
.header--desktop {
  width: 100%;
  display: none;
}
.header--mobile .header__logo {
  width: max-content;
}
.header--mobile .header__logo img {
  max-width: 140px;
}
.header--mobile {
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.705) 95%,
    transparent 100%
  );
  backdrop-filter: blur(7px);
  z-index: 150;
}
.header--mobile.active {
  box-shadow: 0px 13px 20px 0px rgba(0, 23, 52, 0.2);
}
.header__contact-info {
  display: none;
}
.nav__link--home {
  display: flex;
  gap: 8px;
}
.nav__link--home img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 30px;
}
.nav__link--home::after {
  bottom: 10px;
}
.header--mobile .header__contact-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
@media (min-width: 1024px) {
  .nav__link--home {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .nav__link--home img {
    width: 24px;
  }
  .nav {
    background-color: unset;
  }
  .header__logo {
    z-index: 0;
  }
}
@media (min-width: 1200px) {
  .header--desktop {
    background-color: var(--primary-clr);
    position: fixed;
    width: 50%;
    display: flex;
    z-index: 500;
    padding-block: 8px;
    backdrop-filter: blur(7px);
  }
  .header__logo-desktop {
    display: none;
  }
  .ham .header__logo {
    z-index: 0;
  }
  .nav[aria-expanded="false"] {
    animation: unset !important;
  }
  .ham-btn--desktop {
    display: none !important;
  }
  .nav--desktop {
    position: relative;
    display: flex;
    margin-inline: auto;
    height: auto;
    z-index: 1000;
  }
  .nav--desktop .nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 0;
    width: min(100%, 700px);
    backdrop-filter: unset;
  }
  .nav--desktop .nav__link {
    color: var(--white);
    font-size: 16px;
    width: max-content;
    padding: 16px;
    margin-inline: auto;
  }
  .header--mobile {
    display: none;
  }
  .header--desktop.active {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50000;
    background-color: hsla(330, 2%, 20%, 0.75) !important;

    box-shadow: 0px 13px 20px 0px rgba(0, 23, 52, 0.2);
    width: 100%;
  }
  .header--desktop.active .nav__list {
    gap: 64px;
  }
  .header--desktop.active .nav {
    backdrop-filter: unset;
  }
  .header--desktop.active .header__logo-desktop {
    display: block;
  }
}
@media (min-width: 1500px) {
  .header--desktop .header__logo-desktop {
    display: block;
  }
  .header--desktop .header__contact-info {
    display: grid;
    gap: 2px;
  }
  .header__contact-info > a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--white);
    font-weight: 200;
    letter-spacing: 1px;
  }
  .header__contact-info img {
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    padding-inline: 2px;
  }
}
@media (min-width: 1600px) {
  .nav--desktop .nav__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
  .header--desktop {
    position: fixed;
    width: 50%;
    display: flex;
    z-index: 500;
    padding-block: 8px;
  }

  .header--desktop {
    position: fixed;
    width: 50%;
    display: flex;
    z-index: 500;
    padding-block: 8px;
    gap: 32px;
  }
}
