.header {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
}
.nav {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(7px);
  background-color: hsla(222, 100%, 57%, 0.9);
  display: grid;
  place-content: center;
  height: 100vh;
  z-index: 1000;
}
.nav[aria-expanded="false"] {
  animation: nav-closed 1s forwards;
}
@keyframes nav-closed {
  from {
    clip-path: circle(141.4% at 0 0);
    opacity: 1;
    pointer-events: visible;
  }
  to {
    clip-path: circle(0% at 0 0);
    opacity: 0;
    pointer-events: none;
  }
}
.nav[aria-expanded="true"] {
  animation: nav-opened 1s forwards;
}
@keyframes nav-opened {
  from {
    clip-path: circle(0% at 0 0);
    opacity: 0;
    pointer-events: none;
  }
  to {
    clip-path: circle(141.4% at 0 0);
    opacity: 1;
    pointer-events: visible;
  }
}
.nav__list {
  display: grid;
  gap: 5vh;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.005);
  /* backdrop-filter: blur(2px); */
}
.nav__link {
  color: var(--white);
  font-weight: 400;
  font-size: clamp(16px, 7vw, 24px);
}
.header__logo {
  width: 35vw;
  z-index: 1000;
}
.header__logo-desktop {
  width: 150px;
}
.header--desktop {
  width: 100%;
}
.header--mobile {
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.705) 95%,
    transparent 100%
  );
  backdrop-filter: blur(7px);
  z-index: 150;
}
.header--mobile.active {
  box-shadow: 0px 13px 20px 0px rgba(0, 23, 52, 0.2);
}
.header--desktop.active {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.705) 95%,
    transparent 100%
  );
  backdrop-filter: blur(7px);
  box-shadow: 0px 13px 20px 0px rgba(0, 23, 52, 0.2);
}
@media (min-width: 1024px) {
  .header__logo {
    z-index: 0;
  }
}
