.search-form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.136);
  border-radius: 100px;
  height: 55px;
}
.search-form__input {
  position: absolute;
  border: 0;
  outline: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  font: inherit;
  font-weight: 200;
  color: var(--white);
  text-align: center;
  transition: 0.25s;
}
.search-form__input:hover,
.search-form__input:focus {
  border-radius: 100px;
  outline-offset: -5px;
  outline: 1px solid rgba(255, 255, 255, 0.437);
}
.search-form__input:focus {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.search-form__input::placeholder {
  color: hsla(0, 0%, 100%, 0.819);
  text-align: center;
}
.search-form__submit {
  margin-left: 18px;
}
