.team-card {
  position: relative;
  background: linear-gradient(150deg, #062639, #10689f);
  border-radius: 7px;
  outline: 1px solid var(--white);
  padding: 16px;
  padding-top: 60px;
  isolation: isolate;
  box-shadow: 0 15px 30px rgb(118, 158, 187);
}
.team-card::before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/team-card-overlay.png")
    no-repeat center center/contain;
  aspect-ratio: 1;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: -1;
}
.team-card__avatar {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -59px;
  width: 35%;
  transition: 0.7s;
}
.team-card__body {
  color: var(--white);
  text-align: center;
}
.team-card__heading-name {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 110%;
  margin-bottom: 7px;
}
.team-card__role {
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 300;
  color: #d0e2ec;
}
.team-card__heading-name,
.team-card__role {
  text-transform: uppercase;
}
.team-card:last-child {
  background: linear-gradient(150deg, #056f0c, #76cf81);
}
@media (min-width: 1200px) {
  .team-card:hover .team-card__avatar {
    transform: scale(1.5);
    transform-origin: 120% 100%;
    overflow: hidden;
  }
}
