/* from left opacity stagger */
.hidden-left {
  opacity: 0;
  transform: translateX(-50%);
}
.hidden-left.active {
  animation: left forwards 1.2s ease-out;
}
@keyframes left {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.hidden-right {
  opacity: 0;
  transform: translateX(50%);
}
.hidden-right.active {
  animation: right forwards 1.2s ease-out;
}
@keyframes right {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.hidden-fade {
  opacity: 0;
}
.hidden-fade.active {
  animation: fade forwards 2s ease-out;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.circle-clip-animation {
  opacity: 0;
}
.circle-clip-animation.active {
  animation: clippy 2s forwards ease-out;
}
@keyframes clippy {
  from {
    clip-path: circle(0% at 50% 50%);
  }
  to {
    opacity: 1;
    clip-path: circle(70.7% at 50% 50%);
  }
}

/* carousel */

.current {
  opacity: 1 !important;
}
.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  transition: all 1.5s ease-in-out;
  opacity: 0;
}
/* splash screen */

.splash-screen__overlay {
  position: fixed;
  inset: 0;
  background-color: var(--white);
  display: grid;
  place-items: center;
  z-index: 50000;
  perspective: 600px;
}
.splash-screen__logo {
  width: 160px;
  transform: rotateY(60deg);
  opacity: 0;
  animation: splash-logo 4s forwards ease;
}
@keyframes splash-logo {
  0%,
  20% {
    scale: 2;
  }
  80% {
    opacity: 1;
    scale: 1;
    transform: rotateY(0deg);
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}
.hidden-overlay {
  opacity: 1;
  animation: close-overlay 2.5s forwards;
}
@keyframes close-overlay {
  0% {
    display: grid;
    opacity: 1;
  }
  90% {
    display: grid;
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.play-the-video {
  transition: 1s;
  cursor: pointer;
  width: 79%;
  border-radius: 10px;
  box-shadow: 0 5px 16px hsla(0, 0%, 0%, 0.478);
  margin-inline: auto;
}
.play-the-video:hover {
  scale: 1.15;
}
.overlay-play-the-video {
  background-color: hsla(0, 0%, 0%, 0.652);
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 50000;
  animation: play-the-video 0.6s forwards;
}
@keyframes play-the-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.hero-visual-box--animation {
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  opacity: 0;
  animation: visual-box 1.5s forwards;
}
@keyframes visual-box {
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media (min-width: 1200px) {
  .play-the-video {
    margin-inline: unset;
    margin-left: auto;
    width: 100%;
    aspect-ratio: 4/4;
  }
}
