/* HERO section */

.hero {
  padding-bottom: 6rem;
}
.hero__credits {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid hsl(211, 36%, 88%);
  display: flex;
  gap: 10px;
}
.hero__wrapper {
  display: grid;
  grid-template-rows: 15% auto auto auto;
  height: 100vh;
  padding-bottom: 11px;
}
.hero__credits {
  margin-bottom: 1rem;
  max-width: 700px;
  transform: translateX(-100%);
  opacity: 0;
  animation: hero-credits 2s forwards ease;
}
@keyframes hero-credits {
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.hero__content-wrapper {
  grid-row: 2;
  padding-inline: 1rem;
  display: grid;
  place-content: center;
}
.hero__visual-wrapper {
  display: grid;
  grid-row: 3;
}
.hero__headline-wrapper {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
}
.hero__cta-wrapper {
  display: flex;
  justify-content: space-between;
  width: max-content;
  gap: 16px;
  margin-inline: auto;
}
.hero-visual-box {
  position: relative;
  padding: 1rem;
  display: grid;
  place-content: center;
  color: var(--white);
}
.hero-visual-box--blue {
  background-color: var(--secondary-clr);
}
.hero-visual-box-clients {
  font-size: 24px;
}
.hero-visual-box-clients + span {
  font-size: 8px;
  text-transform: uppercase;
  width: max-content;
}
.hero-visual-box--north img {
  width: 150px;
}
.hero-visual-box--design {
  letter-spacing: 3px;
  font-size: 15px;
}
.hero-visual-box--google-reviews > img {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 70%;
}
.hero__footer {
  grid-row: 4;
  padding-inline: 1rem;
  display: flex;
}
.hero__footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-left: 83px;
}
.hero-visual__box--google-reviews {
  cursor: pointer;
}
.hero__footer-contact a {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--dark);
  gap: 5px;
  letter-spacing: 1px;
}
.hero-visual--mobile {
  place-self: center;
  width: 100%;
  animation: visual-mobile 3s forwards;
}
@keyframes visual-mobile {
  from {
    clip-path: circle(6.1% at 50% 50%);
    opacity: 0;
    scale: 1.3;
  }
  to {
    clip-path: circle(70.7% at 50% 50%);
    opacity: 1;
    scale: 1;
  }
}
.hero__visual-wrapper--desktop {
  display: none;
}

@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding-bottom: 0;
  }
  .hero__wrapper {
    position: relative;
  }
  .hero__footer-contact {
    scale: 1.3;
  }
  .hero__footer {
    align-items: end;
    margin-bottom: 3%;
  }
  .hero__footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 53%;
    margin-right: 28%;
    white-space: nowrap;
  }
  .hero__visual-wrapper {
    display: none;
  }
  .hero__content-wrapper {
    display: grid;
    place-content: center;
    padding-inline: 32px;
    gap: 30px;
  }
  .hero__visual-wrapper--desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .hero-visual__box {
    position: relative;
  }
  .hero-visual__box:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .hero-visual__box:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--secondary-clr);
  }
  .hero-visual__box:nth-child(2) > * {
    position: absolute;
    bottom: 16px;
    left: 16px;
    object-fit: contain;
  }
  .hero-visual__box:nth-child(3) {
    display: grid;
    place-content: center;
    gap: 4px;
    background-color: var(--primary-clr);
    grid-column: 3;
    grid-row: 1;
  }
  .hero-visual__box:nth-child(3) > img {
    position: static;
    margin-inline: auto;
  }
  .hero-visual__box:nth-child(3) > span {
    color: var(--white);
    font-weight: 300;
    max-width: 20ch;
    margin-inline: auto;
    text-transform: uppercase;
    line-height: 120%;
    text-align: center;
    font-size: 13px;
  }
  .hero-visual__box:nth-child(4) {
    background-color: var(--secondary-clr);
    grid-column: 1;
    grid-row: 2;
  }
  .hero-visual__box:nth-child(4) > * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .hero-visual__box:nth-child(5) {
    background-color: var(--primary-clr);
    grid-column: 2;
    grid-row: 2;
  }
  .hero-visual__box:nth-child(5) > * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: var(--primary-clr);
    grid-column: 2;
    grid-row: 2;
    color: var(--white);
    font-size: 24px;
    letter-spacing: 8px;
  }
  .hero-visual__box:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
  }
  .hero-visual__box:nth-child(7) {
    grid-column: 1/3;
    grid-row: 3;
  }
  .hero-visual__box:nth-child(9) {
    grid-column: 3;
    grid-row: 3;
    background-color: var(--primary-clr);
  }
  .hero-visual__box:nth-child(9) > * {
    position: absolute;
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
  }
  .hero-visual__box:nth-child(9) > span:nth-child(1) {
    left: 16px;
    top: 8px;
  }
  .hero-visual__box:nth-child(9) > span:nth-child(2) {
    right: 16px;
    bottom: 8px;
  }
  .hero-visual__box:nth-child(10) {
    grid-column: 1;
    grid-row: 4;
    background-color: var(--primary-clr);
  }
  .hero-visual__box:nth-child(10) > * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: contain;
    width: 269px;
  }
  .hero-visual__box:nth-child(11) {
    grid-column: 2;
    grid-row: 4;
    background-color: var(--secondary-clr);
    display: grid;
    place-items: center;
  }
  .hero-visual__box:nth-child(12) {
    grid-column: 3;
    grid-row: 4;
  }
  /* .header--mobile {
    display: none;
  }
  .header--desktop {
    display: flex;
    position: fixed;
    width: 50%;
    z-index: 500;
  } */
  .hero__cta-wrapper {
    gap: 32px;
    width: 100%;
  }
  .hero__cta-wrapper > * {
    width: 100%;
  }
  .hero__wrapper {
    grid-template-rows: 8% 73% 5% auto;
    height: 100vh;
  }
}
/* ABOUT US section */

.about-us {
  padding-block: 6rem;
  padding-top: 3rem;
}
.about-us .container {
  width: min(100% - 32px, 1350px);
  margin-inline: auto;
}
.about-us__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.about-us__btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-us__btn-wrapper > * {
  width: 100%;
}
.about-us__inner-wrapper {
  margin-bottom: 2rem;
}
.google-review__counts {
  padding: 16px;
  border: 1px solid hsl(210, 30%, 79%);
  background-color: var(--white);
  backdrop-filter: blur(6px);
  border-radius: 6px;
  max-width: 250px;
  display: grid;
  gap: 32px;
  transition: 0.5s;
}
.google-review__counts:hover {
  scale: 1.08;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}
.google-review__stars-box {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.google-review__google {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-200);
  font-weight: 400;
}
.google-review__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.google-review__counts-box {
  font-size: 18px;
  color: var(--blue);
}
.google-review__reviews-box {
  color: var(--grey);
  font-weight: 400;
}
.about-us__row {
  position: relative;
}
.about-us__row > img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@media (min-width: 1024px) {
  .about-us {
    padding-block: 9rem;
  }
  .about-us__inner-wrapper {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .about-us__inner-wrapper .about-us__row:nth-child(1) {
    width: 70%;
    place-self: center;
  }
  .about-us__btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 600px;
  }
}
/* MINI GALLERY section */

.mini-gallery {
  padding-bottom: 15rem;
}
.mini-gallery .container {
  width: min(100% - 32px, 1400px);
  margin-inline: auto;
  display: grid;
  place-content: center;
}
.mini-gallery::before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/mini-gallery-overlay.png")
    no-repeat center center/cover;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
.mini-gallery__gallery {
  display: grid;
  border: 3px solid var(--dark);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 16px 32px var(--grey);
  background-color: var(--dark);
  gap: 3px;
}
.mini-gallery__grid-imgs {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  border: 3px solid var(--dark);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--dark);
  gap: 3px;
}
.mini-gallery__wrapper {
  position: relative;
  height: 24%;
  background-color: var(--white);
  display: grid;
  place-items: center;
  margin-bottom: 3px;
}
.mini-gallery__wrapper .gallery {
  position: absolute;
  inset: 0;
}
.mini-gallery__grid-imgs {
  height: 571px;
  columns: 120px;
}
.mini-gallery__row:nth-child(1) {
  margin-bottom: 16px;
  padding: 8px;
}
.mini-gallery__row:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  border-radius: 10px;
  padding: 8px;
  padding-left: 32px;
}
@media (min-width: 1024px) {
  .mini-gallery {
    padding-block: 10rem;
  }
  .mini-gallery::before {
    width: 53%;
    height: 100%;
    object-fit: contain;
    transform: translate(-40%, -41%);
    top: 50%;
    left: 50%;
    scale: 1.2;
  }
  .mini-gallery__gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    max-width: 1211px;
    height: 786px;
    column-gap: 3px;
    row-gap: 0px;
  }
  .mini-gallery__grid-imgs {
    display: contents;
    /* max-width: 60vw; */
  }
  .mini-gallery__wrapper {
    position: relative;
    height: auto;
  }
  .mini-gallery__wrapper img {
    position: absolute;
    inset: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/5;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(2) {
    grid-column: 1/3;
    grid-row: 5/8;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(3) {
    grid-column: 1/6;
    grid-row: 8/-1;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(4) {
    grid-column: 3/6;
    grid-row: 1/4;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(5) {
    grid-column: 3/6;
    grid-row: 4/8;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(6) {
    grid-column: 6/9;
    grid-row: 1/8;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(7) {
    grid-column: 9/-1;
    grid-row: 1/8;
  }
  .mini-gallery__gallery .mini-gallery__wrapper:nth-child(8) {
    grid-column: 6/9;
    grid-row: 8/-1;
  }
  .mini-gallery__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 9/-1;
    grid-row: 8/-1;
    background-color: var(--primary-clr);
  }
  .mini-gallery__row:nth-child(2) {
    padding-block: 30px;
  }
  .mini-gallery__footer .mini-gallery__row:nth-child(1) {
    padding: 16px;
    margin-bottom: 0;
  }
  .mini-gallery__footer .mini-gallery__row:nth-child(2) > img {
    width: 60px;
  }
  .mini-gallery__grid-imgs {
    columns: unset;
  }
}
/* SERVICES section */
.services {
  padding-block: 9rem;
  z-index: 500;
}
.services__overlay {
  position: absolute;
  inset: 0;
  height: 101%;
  background: linear-gradient(
    to bottom,
    rgb(31, 42, 79) 0%,
    rgb(56, 85, 179) 24%,
    rgb(55, 116, 195) 100%
  );
  clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
}
.services__overlay::after {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/service-overlay-graphic.png")
    no-repeat center center/cover;
  inset: 0;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.05;
  z-index: -1;
}
.services .container {
  width: min(100% - 32px, 1132px);
}
.services__wrapper {
  display: grid;
  gap: 32px;
}
.card-design-service__wrapper {
  display: grid;
  place-items: center;
  padding-block: 10rem;
  max-width: 850px;
}
@media (min-width: 1024px) {
  .services__overlay {
    position: absolute;
    inset: 0;
    height: 101%;
    background: linear-gradient(
      to bottom,
      rgb(31, 42, 79) 0%,
      rgb(56, 85, 179) 24%,
      rgb(55, 116, 195) 100%
    );
    clip-path: polygon(0 7%, 100% 0, 100% 92%, 0% 100%);
  }
  .services__overlay::after {
    opacity: 0.1;
  }
  .services__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 32px;
  }
  .cad-design-service {
    position: relative;
    top: -162px;
    height: 840px;
    bottom: -280px;
    z-index: 499;
  }
}
/* COMPANY section */
.company {
  padding-block: 6rem;
  background-color: var(--white);
}
.company__wrapper {
  display: flex;
  flex-direction: column;
}
.company__box {
  display: grid;
  place-items: center;
}
.company__inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 66px;
}
.company__inner-wrapper img {
  width: 100px;
}
.company__num {
  font-weight: 200;
  font-size: 80px;
  color: var(--dark);
}
.company__subheading {
  font-weight: 400;
  font-size: 16px;
  font-weight: 300;
}
.company__wrapper:nth-of-type(1) {
  margin-bottom: 98px;
}
.company__wrapper:nth-of-type(2) {
  margin-bottom: 98px;
}
.company__marquee {
  display: flex;
  gap: 64px;
  white-space: nowrap;
  scale: 1.5;
}
.company__marquee img {
  object-fit: contain;
}
.logo-marquee {
  animation: scroll-animation 15s linear infinite;
}
@keyframes scroll-animation {
  to {
    transform: translate(-100%);
  }
}
@media (min-width: 1200px) {
  .company__inner-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .company__wrapper:nth-of-type(3) .company__inner-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }
  .company__wrapper:nth-of-type(1),
  .company__wrapper:nth-of-type(2) {
    margin-bottom: 138px;
  }
  .company {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
}
/* DREAM TEAM section */
.dream-team {
  padding-block: 6rem;
}
.dream-team__wrapper .h2-heading img {
  margin-inline: auto;
}
.dream-team__inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}
.dream-team::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/wp-content/themes/myTheme/src/assets/images/dream-team-overlay.jpg")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  z-index: -1;
}
.dream-team__wrapper > img:last-child {
  margin-inline: auto;
}

@media (min-width: 1200px) {
  .dream-team__inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 48px;
  }
  .dream-team .container {
    width: min(100% - 32px, 1098px);
  }
}
/* EXTRAS section */
.extras {
  height: 210vh;
}
.extras::before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/extras-overlay.png")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.extras__container {
  padding-block: 6rem;
}
.extras__wrapper {
  display: flex;
  flex-direction: column;
  gap: 330px;
}
.extras__row {
  position: relative;
}
.extras__row > img {
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.extras__paragraph-wrapper {
  position: absolute;
  padding: 16px;
  background: linear-gradient(
    150deg,
    hsla(219, 100%, 14%, 0.85),
    hsla(214, 57%, 54%, 0.85)
  );
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
@media (min-width: 1200px) {
  .extras {
    height: 130vh;
  }
  .extras__container {
    padding-block: 8rem;
  }
  .extras__paragraph-wrapper--desktop {
    position: absolute;
    width: 60%;
    transform: translateY(-50%);
    top: 50%;
    padding: 16px;
    background: linear-gradient(
      150deg,
      hsla(219, 100%, 14%, 0.85),
      hsla(214, 57%, 54%, 0.85)
    );
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .extras__paragraph-wrapper--desktop--first {
    right: 0;
  }
  .extras__paragraph-wrapper--desktop--img {
    margin-left: auto;
  }
  .extras__row > img {
    border-radius: 7px;
    width: 65%;
  }
  .extras__wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
}
/* 👉 Blog section */
.blog-section {
  padding-block: 30vh;
}
.blog-section::before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/blog-overlay-mogile.svg")
    no-repeat center center/cover;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

@media (min-width: 1300px) {
  .blog-section::before {
    content: "";
    position: absolute;
    background: url("/wp-content/themes/myTheme/src/assets/images/blog-overlay.svg")
      no-repeat center center/contain;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
  }
}
.blog__blog-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 96px;
}
.blog__wrapper > p {
  margin-bottom: 32px;
}
/* HIRE-US section */
.hire-us {
  position: relative;
  padding-block: 6rem;
}
.hire-us .container {
  padding-bottom: 186px;
}
.hire-us::before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/myTheme/src/assets/images/hire-us-overlay.png")
    no-repeat center center/cover;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.hire-us__heading-wrapper {
  margin-block: 64px;
}
.hire-us__heading-wrapper > div {
  display: flex;
  align-items: center;
  height: auto;
}
.hire-us-heading,
.hire-us-subheading {
  color: hsl(220, 54%, 20%);
}
.heading-line {
  background-color: hsl(220, 54%, 20%);
}
.hire-us-heading {
  font-size: 80px;
  font-weight: 700;
  line-height: 61%;
  margin-bottom: 8px;
}
.hire-us-subheading {
  text-transform: uppercase;
  letter-spacing: 9px;
}
.hire-us__container {
  margin-bottom: 96px;
}
.hire-us__contact > div {
  justify-content: space-between;
}
.hire-us__contact a {
  transition: 1.5s;
  /* perspective: 70px; */
}
.hire-us__contact a:hover {
  transform: rotateY(360deg);
  scale: 1.5;
}
.hire-us__info {
  padding-block: 12px;
  padding-inline: 12px;
  border-radius: 100px;
  backdrop-filter: blur(6px);
  background-color: hsla(0, 0%, 0%, 0.007);
  width: 100%;
  outline: 1px solid hsla(0, 0%, 0%, 0.09);
  margin-bottom: 32px;
  color: var(--dark);
}
.hire-us__info + div {
  display: flex;
  gap: 24px;
  padding: 8px;
  padding-inline: 8px;
  padding-block: 16px;
  border-radius: 100px;
  background-color: hsla(0, 0%, 0%, 0.007);
  backdrop-filter: blur(6px);
}

@media (min-width: 1200px) {
  .hire-us__heading-wrapper {
    margin-block: 104px;
  }
}
